body {
  margin: 0;
}
div {
  /* display: inline-block;*/
  margin: 0 auto;
}
.test {
  background: 50px blueviolet;

  border: 10px solid red;
  width: 50px;
  height: 50px;
  border-style: outset;
}

.test1 {
  background: 50px blue;

  border: 10px solid red;
  width: 50px;
  height: 50px;
  border-style: double;
}
.test3 {
  background: 50px green;

  border: 10px solid red;
  width: 50px;
  height: 50px;
  border-style: solid;
}
.test4 {
  background: 50px greenyellow;

  border: 10px solid red;
  width: 50px;
  height: 50px;
  border-style: dotted;
}
.test5 {
  background: 50px grey;

  border: 10px solid red;
  width: 50px;
  height: 50px;
  border-style: dashed;
}
